.team {
  background-color: var(--section-background-color);
  padding-top: 82px;
  padding-bottom: 106px;
}
.team .container {
  text-align: center;
}

.team-list {
  display: flex;
}
.team-people:not(:last-child) {
  margin-right: 30px;
}
.team-people {
  background-color: var(--pictures-background-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  display: inline-block;
  min-width: 264px;
  margin-bottom: 50px;
}
.team-employee {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-profession {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
