.social-networks-container {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.social-networks {
  display: flex;
  width: 206px;
  justify-content: space-between;
}
.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--pictures-background-color);
  transition: background-color 250ms var(--timing-function);
}
.social-networks-link:hover .isocial-networks-icon,
.social-networks-link:focus .isocial-networks-icon {
  fill: var(--icon-hover-fill);
}
.isocial-networks-icon {
  fill: var(--icon-fill);
  transition: fill 250ms var(--timing-function);
}
.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--icon-background-color);
}
